<div id="my-repos" class="bg-white w-full rounded-lg shadow p-4">
  <ul class="divide-y divide-gray-200">
    <%= for repo <- @repos do %>
      <%= live_component(RepoDetail, id: "repo-#{repo.git_id}", repo: repo, saved_repos: nil) %>
    <% end %>
  </ul>
</div>
